.cart{
    width: 4%;
    margin-bottom: 25%;
    margin-left: 90%;
}

.badge{
    position: absolute;
    bottom: 18%;
    left: 93%;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;


}