.card-items{
    padding-bottom: 5%;
    margin-top: auto;
    
    
}
.item-title{

font-size:10px;
color: black;

}

.ItemImg{
width: 35rem;
margin-left: 32%;


}

.Info{
    text-align: center;
    font-size: 20px;
}

.btn{
    margin-left: 47%;
    color:cadetblue;
    font-size: 20px;

}

